@page "/add-category"
@inject NavigationManager NavigationManager
@inject IAddCategoryUseCase AddCategoryUseCase


<h3>Add Category</h3>

@if(category is not null)
{
	<EditForm Model="category" OnValidSubmit="OnValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="form-floating mb-3">
			<InputText @bind-Value="category.Name" type="text" class="form-control" id="name" placeholder="Category Name" />
			<label for="floatingInput">Category Name</label>
		</div>
		<div class="form-floating">
			<InputText @bind-Value="category.Description" class="form-control" placeholder="Category Description" id="description" style="height: 100px" />
			<label for="floatingInput">Category Description</label>
		</div>
		<br />
		<button class="btn btn-outline-primary" type="submit">Save</button>
		<button class="btn btn-outline-danger" type="button" @onclick="OnCancel">Cancel</button>
	</EditForm>
}


@code {

	private Category category;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		category = new Category();
	}

	private void OnValidSubmit()
	{
		AddCategoryUseCase.Execute(category);
		NavigationManager.NavigateTo("/categories");
	}

	private void OnCancel() => NavigationManager.NavigateTo("/categories");

}
